@media (max-width:1700px) {
    html{
        font-size: 14px;
    }
}
@media (max-width:1600px) {
    html{
        font-size: 13px;
    }
}
@media (max-width:1400px) {

    html{
        overflow: auto;
    }
    .nice-dick__wrap{
        display: none;
    }
}
@media (max-width:700px) {
    html{
        font-size: 12px;
    }
}